## switch: perl -i -p -e 's|https://(.*?)/|git@\1:|g' .gitmodules

## ---------------------------- dev --------------------------------
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
	no-byte-compile = borg-elpa.el
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el.git
[submodule "benchmark-init-el"]
	path = lib/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "emacs-doom-themes"]
	path = lib/emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "hungry-delete"]
	path = lib/hungry-delete
	url = https://github.com/nflath/hungry-delete.git
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "quickrun"]
	path = lib/quickrun
	url = https://github.com/emacsorphanage/quickrun.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs-wgrep"]
	path = lib/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv.git
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = https://github.com/rmuslimov/browse-at-remote.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "emacs-async"]
	path = lib/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column.git
[submodule "emacs-request"]
	path = lib/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "popup-el"]
	path = lib/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect.git
[submodule "grip-mode"]
	path = lib/grip-mode
	url = https://github.com/seagle0128/grip-mode.git
[submodule "markdown-toc"]
	path = lib/markdown-toc
	url = https://github.com/ardumont/markdown-toc.git
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo.git
[submodule "emacs-opencc"]
	path = lib/emacs-opencc
	url = https://github.com/xuchunyang/emacs-opencc.git
[submodule "csv-mode"]
	path = lib/csv-mode
	url = https://github.com/emacsmirror/csv-mode.git
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "gitignore-templates"]
	path = lib/gitignore-templates
	url = https://github.com/xuchunyang/gitignore-templates.el.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "with-proxy"]
	path = lib/with-proxy
	url = https://github.com/twlz0ne/with-proxy.el.git
[submodule "nodejs-repl"]
	path = lib/nodejs-repl
	url = https://github.com/abicky/nodejs-repl.el.git
	branch = develop
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
	load-path = .
	load-path = extensions
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "keyfreq"]
	path = lib/keyfreq
	url = https://github.com/dacap/keyfreq.git
[submodule "pinyinlib"]
	path = lib/pinyinlib
	url = https://github.com/cute-jumper/pinyinlib.el.git
[submodule "xr"]
	path = lib/xr
	url = https://github.com/mattiase/xr.git
[submodule "relint"]
	path = lib/relint
	url = https://github.com/mattiase/relint.git
[submodule "proxy-mode"]
	path = lib/proxy-mode
	url = https://repo.or.cz/proxy-mode.git
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "vc-msg"]
	path = lib/vc-msg
	url = https://github.com/redguardtoo/vc-msg.git
[submodule "ox-gfm"]
	path = lib/ox-gfm
	url = https://github.com/larstvei/ox-gfm.git
[submodule "handlebars-mode"]
	path = lib/handlebars-mode
	url = https://github.com/thornjad/handlebars-mode.git
[submodule "pandoc-mdoe"]
	path = lib/pandoc-mdoe
	url = https://github.com/joostkremers/pandoc-mode.git
[submodule "package-lint"]
	path = lib/package-lint
	url = https://github.com/purcell/package-lint.git
[submodule "graphql-mode"]
	path = lib/graphql-mode
	url = https://github.com/davazp/graphql-mode.git
[submodule "yasnippet-collection"]
	path = lib/yasnippet-collection
	url = https://github.com/liuyinz/yasnippet-collection.git
[submodule "rsync-mode"]
	path = lib/rsync-mode
	url = https://github.com/r-zip/rsync-mode.git
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "restclient"]
	path = lib/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule "ssh-config-mode-el"]
	path = lib/ssh-config-mode-el
	url = https://github.com/jhgorrell/ssh-config-mode-el.git
[submodule "emacs-sql-indent"]
	path = lib/emacs-sql-indent
	url = https://github.com/alex-hhh/emacs-sql-indent.git
[submodule "highlight-defined"]
	path = lib/highlight-defined
	url = https://github.com/Fanael/highlight-defined.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "consult-yasnippet"]
	path = lib/consult-yasnippet
	url = https://github.com/mohkale/consult-yasnippet.git
[submodule "consult-todo"]
	path = lib/consult-todo
	url = https://github.com/liuyinz/consult-todo.git
[submodule "pip-requirements"]
	path = lib/pip-requirements
	url = https://github.com/Wilfred/pip-requirements.el.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = https://github.com/atomontage/xterm-color.git
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow.git
[submodule "focus"]
	path = lib/focus
	url = https://github.com/larstvei/Focus.git
[submodule "envrc"]
	path = lib/envrc
	url = https://github.com/purcell/envrc.git
[submodule "on"]
	path = lib/on
	url = https://github.com/ajgrf/on.el.git
[submodule "simpleclip"]
	path = lib/simpleclip
	url = https://github.com/rolandwalker/simpleclip.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "isolate"]
	path = lib/isolate
	url = https://github.com/casouri/isolate.git
[submodule "emacs-smart-input-source"]
	path = lib/emacs-smart-input-source
	url = https://github.com/laishulu/emacs-smart-input-source.git
[submodule "terminal-focus-reporting"]
	path = lib/terminal-focus-reporting
	url = https://github.com/veelenga/terminal-focus-reporting.el.git
[submodule "shackle"]
	path = lib/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "ct"]
	path = lib/ct
	url = https://github.com/neeasade/ct.el.git
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
	load-path = .
	load-path = acm
[submodule "obvious"]
	path = lib/obvious
	url = https://github.com/alphapapa/obvious.el.git
[submodule "emacs-web-server"]
	path = lib/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "impatient-mode"]
	path = lib/impatient-mode
	url = https://github.com/skeeto/impatient-mode.git
[submodule "elispfl"]
	path = lib/elispfl
	url = https://github.com/cireu/elispfl.git
[submodule "plur"]
	path = lib/plur
	url = https://github.com/xuchunyang/plur.git
[submodule "acm-terminal"]
	path = lib/acm-terminal
	url = https://github.com/twlz0ne/acm-terminal.git
[submodule "denote"]
	path = lib/denote
	url = https://github.com/protesilaos/denote.git
[submodule "undo-hl"]
	path = lib/undo-hl
	url = https://github.com/liuyinz/undo-hl.git
[submodule "hsluv-emacs"]
	path = lib/hsluv-emacs
	url = https://github.com/hsluv/hsluv-emacs.git
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia.git
[submodule "insecure-lock"]
	path = lib/insecure-lock
	url = https://github.com/BlueFlo0d/insecure-lock.git
[submodule "redacted"]
	path = lib/redacted
	url = https://github.com/bkaestner/redacted.el.git
[submodule "info-colors"]
	path = lib/info-colors
	url = https://github.com/ubolonton/info-colors.git
[submodule "authinfo-color-mode"]
	path = lib/authinfo-color-mode
	url = https://github.com/tecosaur/authinfo-color-mode.git
[submodule "etrace"]
	path = lib/etrace
	url = https://github.com/aspiers/etrace.git
[submodule "page-break-lines"]
	path = lib/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "emacs-popon"]
	path = lib/emacs-popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "deno-bridge"]
	path = lib/deno-bridge
	url = https://github.com/manateelazycat/deno-bridge.git
[submodule "emacs-websocket"]
	path = lib/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti.git
[submodule "git-link"]
	path = lib/git-link
	url = https://github.com/sshaw/git-link.git
[submodule "bicycle"]
	path = lib/bicycle
	url = https://github.com/tarsius/bicycle.git
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "emacs-undo-fu-session"]
	path = lib/emacs-undo-fu-session
	url = https://codeberg.org/ideasman42/emacs-undo-fu-session.git
[submodule "jinx"]
	path = lib/jinx
	url = https://github.com/minad/jinx.git
[submodule "testrun"]
	path = lib/testrun
	url = https://github.com/martini97/testrun.el.git
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "valign"]
	path = lib/valign
	url = https://github.com/casouri/valign.git
[submodule "elfeed-webkit"]
	path = lib/elfeed-webkit
	url = https://github.com/fritzgrabo/elfeed-webkit.git
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto.git
[submodule "flymake-collection"]
	path = lib/flymake-collection
	url = https://github.com/mohkale/flymake-collection.git
	load-path = .
	load-path = src
	load-path = src/checkers
[submodule "flymake-relint"]
	path = lib/flymake-relint
	url = https://github.com/liuyinz/flymake-relint.git
[submodule "lisp-keyword-indent"]
	path = lib/lisp-keyword-indent
	url = https://github.com/twlz0ne/lisp-keyword-indent.el.git
[submodule "psearch"]
	path = lib/psearch
	url = https://github.com/twlz0ne/psearch.el.git
[submodule "macrostep"]
	path = lib/macrostep
	url = https://github.com/emacsorphanage/macrostep.git
[submodule "igist"]
	path = lib/igist
	url = https://github.com/KarimAziev/igist.git
[submodule "binky"]
	path = lib/binky
	url = https://github.com/liuyinz/binky.el.git
[submodule "eros"]
	path = lib/eros
	url = https://github.com/xiongtx/eros.git
[submodule "adoc-mode"]
	path = lib/adoc-mode
	url = https://github.com/bbatsov/adoc-mode.git
[submodule "jq-ts-mode"]
	path = lib/jq-ts-mode
	url = https://github.com/nverno/jq-ts-mode.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = https://github.com/joddie/pcre2el.git
[submodule "duplexer"]
	path = lib/duplexer
	url = https://github.com/liuyinz/duplexer.el.git
[submodule "tera-mode"]
	path = lib/tera-mode
	url = https://github.com/svavs/tera-mode.git
[submodule "git-cliff"]
	path = lib/git-cliff
	url = https://github.com/liuyinz/git-cliff.el.git
[submodule "transient-showcase"]
	path = lib/transient-showcase
	url = https://github.com/positron-solutions/transient-showcase.git
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos.git
[submodule "emacs-libvterm"]
	path = lib/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
	build-step = mkdir -p build && cd build && cmake .. && make
	build-step = borg-byte-compile
	build-step = borg-update-autoloads
[submodule "elec-pair-extra"]
	path = lib/elec-pair-extra
	url = https://github.com/liuyinz/elec-pair-extra.git
[submodule "flymake-bridge"]
	path = lib/flymake-bridge
	url = https://github.com/liuyinz/flymake-bridge.git
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el.git
[submodule "typst-ts-mode"]
	path = lib/typst-ts-mode
	url = https://git.sr.ht/~meow_king/typst-ts-mode
[submodule "mermaid-ts-mode"]
	path = lib/mermaid-ts-mode
	url = https://github.com/JonathanHope/mermaid-ts-mode.git
[submodule "mini-echo"]
	path = lib/mini-echo
	url = https://github.com/liuyinz/mini-echo.el.git
[submodule "selected"]
	path = lib/selected
	url = https://github.com/Kungsgeten/selected.el.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = https://codeberg.org/pidu/git-timemachine.git
[submodule "keycast"]
	path = lib/keycast
	url = https://github.com/tarsius/keycast.git
[submodule "ts-docstr"]
	path = lib/ts-docstr
	url = https://github.com/emacs-vs/ts-docstr.git
[submodule "coercion"]
	path = lib/coercion
	url = https://github.com/liuyinz/coercion.el.git
[submodule "dwim-shell-command"]
	path = lib/dwim-shell-command
	url = https://github.com/xenodium/dwim-shell-command.git
[submodule "plz-see"]
	path = lib/plz-see
	url = https://github.com/astoff/plz-see.el.git
[submodule "emacs-htmlize"]
	path = lib/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "copy-as-format"]
	path = lib/copy-as-format
	url = https://github.com/sshaw/copy-as-format.git
[submodule "denote-menu"]
	path = lib/denote-menu
	url = https://github.com/namilus/denote-menu.git
[submodule "license-templates"]
	path = lib/license-templates
	url = https://github.com/jcs-elpa/license-templates.git
[submodule "ansi"]
	path = lib/ansi
	url = https://github.com/rejeep/ansi.el.git
[submodule "screenshot"]
	path = lib/screenshot
	url = https://github.com/tecosaur/screenshot.git
[submodule "pangu-spacing"]
	path = lib/pangu-spacing
	url = https://github.com/coldnew/pangu-spacing.git
	pin = true
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish.git
	load-path = .
	load-path = extensions
	pin = true
[submodule "consult-dir"]
	path = lib/consult-dir
	url = https://github.com/karthink/consult-dir.git
[submodule "transpose-frame"]
	path = lib/transpose-frame
	url = https://github.com/emacsorphanage/transpose-frame.git
[submodule "mode-minder"]
	path = lib/mode-minder
	url = https://github.com/jdtsmith/mode-minder.git
[submodule "repeat-help"]
	path = lib/repeat-help
	url = https://github.com/karthink/repeat-help.git
[submodule "file-info"]
	path = lib/file-info
	url = https://github.com/Artawower/file-info.el.git
[submodule "quicktype"]
	path = lib/quicktype
	url = https://github.com/Artawower/quicktype.el.git
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "zig-mode"]
	path = lib/zig-mode
	url = https://github.com/ziglang/zig-mode.git
[submodule "ibuffer-vc"]
	path = lib/ibuffer-vc
	url = https://github.com/purcell/ibuffer-vc.git
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "mise"]
	path = lib/mise
	url = https://github.com/liuyinz/mise.el.git
[submodule "typst-preview"]
	path = lib/typst-preview
	url = https://github.com/havarddj/typst-preview.el.git
[submodule "denote-explore"]
	path = lib/denote-explore
	url = https://github.com/pprevos/denote-explore.git
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "emacs-hide-mode-line"]
	path = lib/emacs-hide-mode-line
	url = https://github.com/hlissner/emacs-hide-mode-line.git
[submodule "reverso"]
	path = lib/reverso
	url = https://github.com/SqrtMinusOne/reverso.el.git
[submodule "consult-denote"]
	path = lib/consult-denote
	url = https://github.com/protesilaos/consult-denote.git
[submodule "vue-ts-mode"]
	path = lib/vue-ts-mode
	url = https://github.com/8uff3r/vue-ts-mode.git
[submodule "swift-ts-mode"]
	path = lib/swift-ts-mode
	url = https://github.com/rechsteiner/swift-ts-mode.git
[submodule "colorful-mode"]
	path = lib/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode.git
[submodule "jtsx"]
	path = lib/jtsx
	url = https://github.com/llemaitre19/jtsx.git
[submodule "combobulate"]
	path = lib/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "highlight-parentheses"]
	path = lib/highlight-parentheses
	url = https://git.sr.ht/~tsdh/highlight-parentheses.el
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh.git
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "nerd-icons-ibuffer"]
	path = lib/nerd-icons-ibuffer
	url = https://github.com/seagle0128/nerd-icons-ibuffer.git
[submodule "nerd-icons-completion"]
	path = lib/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion.git
	pin = true
[submodule "dart-ts-mode"]
	path = lib/dart-ts-mode
	url = https://github.com/50ways2sayhard/dart-ts-mode.git
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel.git
[submodule "nushell-mode"]
	path = lib/nushell-mode
	url = https://github.com/mrkkrp/nushell-mode.git
[submodule "atomic-chrome"]
	path = lib/atomic-chrome
	url = https://github.com/KarimAziev/atomic-chrome.git
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper.git
[submodule "spookfox"]
	path = lib/spookfox
	url = https://github.com/bitspook/spookfox.git
